<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageMonk\ContactUs\Model\ConfigInterface" type="MageMonk\ContactUs\Model\Config" />
    <preference for="MageMonk\ContactUs\Api\CardTypeRepositoryInterface" type="MageMonk\ContactUs\Model\CardTypeRepository"/>
    <preference for="MageMonk\ContactUs\Api\Data\CardTypeInterface" type="MageMonk\ContactUs\Model\CardType"/>
    <preference for="MageMonk\ContactUs\Api\QuestionRepositoryInterface" type="MageMonk\ContactUs\Model\QuestionRepository"/>
    <preference for="MageMonk\ContactUs\Api\Data\QuestionInterface" type="MageMonk\ContactUs\Model\Question"/>

    <type name="Magento\Contact\Model\MailInterface">
        <arguments>
            <argument name="transportBuilder" xsi:type="object">MageMonk\ContactUs\Framework\Mail\Template\TransportBuilder</argument>
        </arguments>
    </type>

    <type name="MageMonk\ContactUs\Framework\Mail\Template\TransportBuilder">
        <plugin name="magemonk_extend_template_vars"
                type="MageMonk\ContactUs\Plugin\TransportBuilderPlugin"/>
    </type>
</config>
