<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="contact" type="text">
            <resource>MageMonk_ContactUs::config</resource>
            <group id="contact" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enquiry_enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Enquiry Types</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="types" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enquiry Types</label>
                    <frontend_model>MageMonk\ContactUs\Block\Adminhtml\Form\Field\Types</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                        <field id="*/*/enquiry_enabled">1</field>
                    </depends>
                </field>
                <field id="account_query_enabled" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Account Query</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                        <field id="*/*/enquiry_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
